.fundroad {
	margin-top: 611px;
	position: relative;
	&__wrapper {
		display: flex;
		justify-content: center;
		position: relative;
		width: 100%;
	}
	&__road {
		width: 1212px;
		height: 304px;
	}
	&__block {
		position: absolute;
		width: 245px;
		height: 182px;

		&:nth-child(2) {
			left: 130px;
			top: 180px;
		}
		&:nth-child(4) {
			height: 212px;
			left: 470px;
			top: 30px;
			.fundroad__block--text {
				&_header {
					margin-top: 21px;
					margin-left: 13px;
				}
				&_text {
					margin-top: 25px;
					margin-left: 11px;
				}
			}
		}
		&:nth-child(6) {
			left: 940px;
			top: 180px;
			.fundroad__block--text {
				&_header {
					margin-top: 43px;
					margin-left: 14px;
				}
				&_text {
					margin-top: 17px;
					margin-left: 14px;
				}
			}
		}
		&:nth-child(8) {
			right: -10px;
			top: -195px;
			.fundroad__block--img {
				z-index: -1;
			}
			.fundroad__block--text {
				&_header {
					margin-top: 25px;
					margin-left: 14px;
					color: rgba(13, 13, 13, 1);
				}
				&_text {
					margin-top: 9px;
					letter-spacing: 0.02em;
					color: rgba(13, 13, 13, 1);
				}
			}
		}
		&:nth-child(9) {
			right: -10px;
			top: 295px;
			.fundroad__block--img {
				z-index: -1;
				transform: scaleY(-1);
			}
			.fundroad__block--text {
				&_header {
					margin-top: 31px;
					margin-left: 16px;
					color: rgba(13, 13, 13, 1);
				}
				&_text {
					margin-top: 5px;
					margin-left: 16px;
					font-size: 17px;
					color: rgba(13, 13, 13, 1);
				}
			}
		}
		&--img {
			position: absolute;
			width: 100%;
			height: 100%;
			filter: drop-shadow(2px 2px 9px rgba(0, 157, 44, 1));
		}
		&--text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			&_header {
				font-family: Chakra Petch;
				font-size: 33px;
				font-weight: 700;
				line-height: 42.9px;
				color: rgba(255, 255, 255, 1);
				margin-top: 50px;
				margin-left: 11px;
			}
			&_text {
				margin-top: 28px;
				margin-left: 11px;
				width: 225px;
				font-size: 18px;
				font-weight: 500;
				line-height: 21.94px;
				color: rgba(255, 255, 255, 1);
			}
		}
	}
	&__fraktal {
		position: absolute;
		top: -550px;
		left: 0;
	}
}
